<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <img class="img-thumbnail img-fluid" src="{{brandURLImage}}" width="300px">
        </div>
        <div class="col-md-6 mx-auto">
            <code>{{message}}</code>
        </div>
    </div>
</div>

<a href="/">Return home to view thumbnails</a>